# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.txt.user

Engine/CMakeLists.txt.user

TensorRT-Engine/build

Counting-App/.idea/

Counting-App/cmake-build-debug/

Engine/build

build-Engine-Desktop-Default/
TensorRT-Engine/yolov5/build/

Model/Yolo/images/
Model/Yolo/labels/